<div>
	<p>New Library</p>
	<p>Add New Library in Form Below</p>
</div>
<div>
	<form id="library_form" method="POST" action="/new">
		<fieldset>
			<legend>Library Form</legend>
			<p>Library Name:
				<input name="library_name" type="text"/>
			</p>
			<input type="submit"/>
		</fieldset>
	</form>
</div>