<div>
	<h2>Welcome to BlocBooks!</h2>
	<p>BlocBooks Below</p>
	<ol>
	<% books.each do |book| %>
	<li><a href="/books/<%= book.id %>"><%= book.name %> by <%= book.author %></a></li>
	<% end %>
	</ol>
	<a href="/">Back to Welcome</a>
</div>
